@model VacationVillaManager.Models.ReportModels.ReportTaxesModel

<div class="reportPane">
    @using (Html.BeginForm("GenerateTaxesReport", "Reports", FormMethod.Post)) {
        
        <table>
            <tr>
                <td>Tax Rate 1: </td>
                <td>@Html.EditorFor(model => model.Rates[0])</td>
            </tr>
            <tr>
                <td>Tax Rate 2: </td>
                <td>@Html.EditorFor(model => model.Rates[1])</td>
            </tr>
            <tr>
                <td>Tax Rate 3: </td>
                <td>@Html.EditorFor(model => model.Rates[2])</td>
            </tr>
            <tr>
                <td>Month: </td>
                <td>@Html.TextBoxFor(model => model.Month, new { @class = "month", @Value = "" })</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Generate" />
        </p>
    }
</div>