@model VacationVillaManager.Models.ReportModels.ReportEmailModel

<div class="reportPane">
    @Html.DisplayTextFor(model => model.NumberOfEmails) client emails available.

    @using (Html.BeginForm("GenerateEmailReport", "Reports", FormMethod.Post)) {
        <p>
            <input type="submit" value="Generate" />
        </p>
    }
</div>
