@model VacationVillaManager.Models.ReportModels.ReportEmailModel

<div class="reportPane">
    @Html.DisplayTextFor(model => model.NumberOfEmails) client emails available.

    <button class="generate">Generate!</button>
</div>
