@model VacationVillaManager.Models.ReportModels.ReportFreeHousesModel

<div class="reportPane">     
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.StartDate)</td>
            <td>@Html.TextBoxFor(model => model.StartDate, new { @class = "date start", @Value = "" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EndDate)</td>
            <td>@Html.TextBoxFor(model => model.EndDate, new { @class = "date end", @Value = "" })</td>
        </tr>
    </table>       
    <button class="generate">Generate!</button>
</div>