@model VacationVillaManager.Models.ReportModels.ReportComeGoModel

<div class="viewPane">
    @foreach (var entry in Model.HouseBookings)
    {
        <h3>@entry.Key</h3>
        <table>
            <tr>
                <th>Client Name</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
            </tr>

            @foreach (var b in entry.Value)
            {
                <tr>
                    <td>@Html.DisplayTextFor(modelItem => b.Client.Name)</td>
                    <td>@b.StartDate.ToString("dd MMM yyyy")</td>
                    <td>@b.EndDate.ToString("dd MMM yyyy")</td>
                </tr>
            }
        </table>
    }
</div>