@model VacationVillaManager.Models.Booking

<div class="clientInfoEditor" style="display: none;">

    @if (!(bool)ViewBag.NewClient)
    {
        @Html.HiddenFor(model => model.Client.Location.ID)
    }

    @Html.EditorFor(model => model.Client)
</div>