@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_BootstrapLayout.public.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
	<div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
            <li class="active">Services</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">
    <div class="row-fluid margin-bottom-20">
        <p class="lead"><em>Vacation Villa Manager provides business solutions for vacation property owners. Our business model helps owners manage their property and increase revenue for their real estate investment property. We provide three levels of service depending on the needs of our owners (full - partial & referral). Please contact us for details and pricing.</em></p>
    </div>
    <div class="row-fluid servive-block">
        <div class="span4">
            <h4>Reservation Specialist</h4>
            <p><i class="icon-home"></i></p>
            <p>receive all villa availability & rate inquiries<br />
               follow up to initial inquiry<br />
               prepare booking letter & rental contracts<br />
               collect and account for rental payments<br />
               provide arrival, site management and tourist<br />
               information package</p>
        </div>
        <div class="span4">
            <h4>Guest Liaison</h4>
            <p><i class="icon-quote-right"></i></p>
            <p>personal service for all guests<br />
               receive and provide solutions for guest inquires<br />
               quickly and professionally<br />
               courtesy call to guests during stay<br />
               villa review request after departure<br />
               follow up to assist guest retention<br /></p>
        </div>
        <div class="span4">
            <h4>Marketing/Advertising</h4>
            <p><i class="icon-comments"></i></p>
            <p>set up and maintain marketing websites<br />
               spotlight villa with its own webpage<br />
               gain access to frequent villa rental clients<br />
               incorporate villa into niche marketing effort<br />
               update availability calendar<br />
               post frequent and timely specials or promotions</p>
        </div>
    </div>
</div>