@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');

.logo {
    font-family: 'Lobster', cursive;
}

.logo > a:hover {
    text-decoration: none;
}

h5 {
    font-family: 'Lobster', cursive;
}

h5 > a:hover {
    text-decoration: none;
}

.house-photo-carousel > .item > img,
.house-photo-carousel > .item > a > img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
}

.item {
    width: 100%;
    height: 400px;
}

.active-booking > a {
    background: url("reserved.png") !important;
}

.start-booking > a {
    background: url("arrive.png") !important;
}

.end-booking > a {
    background: url("depart.png") !important;
}

.map-box {
    height: 475px;
}
