@model VacationVillaManager.Models.Client

<div class="input-prepend">
    <span class="add-on"><i class="icon-tag"></i></span>
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
</div><br />

<div class="input-prepend">
    <span class="add-on"><i class="icon-phone"></i></span>
    @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number" })
</div><br />

<div class="input-prepend">
    <span class="add-on"><i class="icon-envelope-alt"></i></span>
    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
</div><br />

@Html.EditorFor(model => model.Location)