@model VacationVillaManager.Models.ContactModel

@{
    var options = new AjaxOptions()
                        {
                            Url = Url.Action("SendContact", "Home"),
                            LoadingElementId = "contact_spinner",
                            OnBegin = "$('#contact_success').hide(); $('#contact_failure').hide();",
                            OnSuccess = "$('#contact_success').show(); $('#contact_submit').prop('disabled', true);",
                            OnFailure = "$('#contact_failure').show();"
                        };
}

@using (Ajax.BeginForm("SendContact", "Home", null, options, new { autocomplete = "off" }))
{
    <table>
        <tr></tr>
    </table>
    @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Name", id = "ContactName", style = "width: 90%;" })
    @Html.TextBoxFor(model => model.Email, null, new { placeholder = "Email Address (Required)", style = "width: 90%;" })
    @Html.TextAreaFor(model => model.Message, new { placeholder = "Your Message", style = "width: 90%;" })<br />
    <button id="contact_submit" class="btn-u" style="width: 98%;">
        <i id="contact_spinner" class="icon-spinner icon-spin" style="display: none;"></i>
        <i id="contact_success" class="icon-ok" style="display: none;"></i>
        <i id="contact_failure" class="icon-remove" style="display: none;"></i>
        Send</button>
}