<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vacationvillamanager.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lin.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>vacationvillamanager.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>vvm_deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DeployConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=lin.arvixe.com;Initial Catalog=managerdb;Integrated Security=False;User ID=vvmweb;Password=webmastervvm" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lin.arvixe.com;Initial Catalog=managerdb;Integrated Security=False;User ID=vvmweb;Password=webmastervvm" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeployConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=lin.arvixe.com;&#xD;&#xA;                                       Initial Catalog=managerdb;&#xD;&#xA;                                       Integrated Security=false;&#xD;&#xA;                                       User ID=vvmweb;&#xD;&#xA;                                       Password=webmastervvm;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=lin.arvixe.com;Initial Catalog=managerdb;Integrated Security=False;User ID=vvmweb;Password=webmastervvm" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VacationVillaManager.Models.ManagerContext, VacationVillaManager" MigrationConfiguration="VacationVillaManager.Migrations.Configuration, VacationVillaManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lin.arvixe.com;Initial Catalog=managerdb;Integrated Security=False;User ID=vvmweb;Password=webmastervvm</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DeployConnection-Web.config Connection String">
      <ParameterValue>Data Source=lin.arvixe.com;Initial Catalog=managerdb;Integrated Security=False;User ID=vvmweb;Password=webmastervvm</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>